@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* COLORS

LOGO PURPLE: #7C5CFF
BUTTON/ ACTIVE PURPLE: #6D4AFF
PURPLE HOVER: #8A6EFF

DARK BG: #16141C
BG ON HOVER/ ACTIVE: #5B576B #24212B
BORDERS:#4A4658

TEXT PRIMARY: #FFFFFF
TEXT SECONDARY: #A7A4B5

STAR ORANGE: #FFA500
*/

@layer base {
  body {
    @apply bg-dark text-primary font-sans
  }

  main {
    @apply sm:p-10 md:p-20 2xl:ml-80 2xl:p-10
  }

  h1, h2, h3, h4 {
    @apply font-bold
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl
  }

  h2 {
    @apply text-3xl sm:text-4xl
  }

  h3 {
    @apply text-2xl sm:text-3xl
  }

  h4 {
    @apply text-xl sm:text-2xl
  }
  button {
    @apply border-none m-1 p-3 w-96 rounded-lg bg-purple hover:bg-purple-hov active:bg-logo-purple duration-100 !important
  }
  
  input {
    @apply border border-dark-border bg-dark p-2 rounded-lg text-secondary text-sm duration-100 active:border-purple focus:outline-none !important
  }

  label {
    @apply ml-1 text-secondary
  }
}

@layer components {
  .sidebar-container {
    @apply fixed top-0 left-0 h-screen w-80 m-0 flex flex-col p-10
  }

  .sidebar-logo {
    @apply m-1 p-3
  }

  .sidebar-element {
    @apply p-3 rounded-lg	duration-100 hover:bg-dark-hov active:bg-dark-click
  }

  .sidebar-button-container {
    @apply pb-10 fixed bottom-0 rounded-lg 
  }
  .sidebar-button {
    @apply m-1 p-3 w-56 rounded-lg bg-purple hover:bg-purple-hov active:bg-logo-purple duration-100 !important
  }

  .sidebar-show {
    @apply sidebar-container border-r bg-dark border-dark-border block z-20
  }
  .sidebar-hide {
    @apply sidebar-container border-r border-dark-border hidden
  }

  .page-center {
    @apply flex items-center justify-center flex-col relative overflow-hidden
  }

  .coin-row {
    @apply hover:bg-dark-hov
  }
}